.board {
    display: grid;
    grid-template-rows: repeat(8, calc(64px));
}
.row {
    display: flex;
}
.white {
    background-color: rgb(236, 141, 25);
}

.black {
    background-color: rgb(49, 42, 42);
}

.black-figure {
    color: black;
}

.white-figure {
    color: white
}

.cell {
    height: 64px;
    width: 64px;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}